{:allowed-branchname-matches ["master"]
  :allowed-filename-matches ["Office365-SmallBusiness" "Office365-Kaizala" "Office365-admin/*.md" "Office365-admin/activity-reports/" "Office365-admin/add-users/" "Office365-admin/admin-overview/" "Office365-admin/create-groups/" "Office365-admin/dns/" "Office365-admin/email/" "Office365-admin/get-help-with-domains/" "Office365-admin/includes/" "Office365-admin/manage/" "Office365-admin/security-and-compliance/" "Office365-admin/misc/" "Office365-admin/services-in-china/" "Office365-admin/setup/" "Office365-admin/subscriptions-and-billing/*.md" "Office365-admin/troubleshoot-issues-for-admins/" "Office365-admin/usage-analytics/"]}
