---
title: Kaizala app age verification
f1.keywords:
- NOCSH
ms.author: chucked
author: chuckedmonson
manager: serdars
ms.date: 8/21/2018
audience: Consumer/IW
ms.topic: article
ms.service: kaizala
ms.custom: Kaizala
localization_priority: Normal
search.appverid:
- MET150
- MOE150
- MED150
- MBS150
ms.assetid: 5d5ffe24-22f2-4136-afcd-6b351fc14fb5
description: Learn about the Kaizala app age restriction and verification.
---

# Kaizala app age verification

You must be at least 16 years old to use the Kaizala app in your country, without parental consent. You are required to sign in with your birth-date to use this app.
  
If you're over 16 and have entered an incorrect birthdate, uninstall and reinstall the Kaizala app. Then re-enter your birthdate to continue.
  

