---
title: "Kaizala app age verification"
ms.author: kwekua
author: kwekua
ms.date: 4/26/2018
ms.audience: Consumer/IW
ms.topic: article
ms.service: Kaizala
localization_priority: Normal
search.appverid:
- MET150
- MOE150
- MED150
- MBS150
ms.assetid: 5d5ffe24-22f2-4136-afcd-6b351fc14fb5
description: "You must be at least 16 years old to use the Kaizala app in your country without parental consent. You have to sign in with your birthdate to use this app."
---

# Kaizala app age verification

You must be at least 16 years old to use the Kaizala app in your country without parental consent. You have to sign in with your birthdate to use this app.
  
If you're over 16 and you've entered incorrect birthdate, uninstall and reinstall the Kaizala app and re-enter your birthdate to continue.
  

